body {background-color:black;font-family:arial;color:white}
h1{color:grey;font-family:verdana}
.maindiv {
    background-color: white;
    color: black;
    width: 500px;
    padding: 20px;
    border-radius: 25px;
    margin: auto;
    line-height: 1.5em;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
}



.bodies {
    margin-left: 25px;
    margin-right: 25px;
}

.label {
    width: 120px;
}

.row {
    display: flex;
}

.col {
    flex: initial;
}


